
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  background-color: #f8f8f8;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button,
.pagination span {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #e8e8e8;
}

.pagination span {
  font-size: 18px;
  font-weight: bold;
}
#search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

input #search-input{
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.delete-btn {
    background-color: #ff4d4d;
    border: none;
    padding: 6px 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }
  

